@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: white;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.bodyx{
    background-color: #000000;
    color:#F5F5F5;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.headerall{
    font-family: 'Plus Jakarta Sans', serif;
}

.change{
    background-color: white;
}

.changex{
    background-color:rgb(33, 33, 33); 
}

/* Media query for devices with a maximum width of 767px (typical for mobile devices) */
@media (max-width: 767px) {
    .circle{
        position: absolute;
         transform: translateX(-14%);
        background-color: rgb(0, 0, 0);
        transition:1s ease-in-out;
        
    }
    
    
    .circlex{
        position: absolute;
        transform: translateX(115%);
        background-color: rgb(255, 255, 255);
        transition:1s ease-in-out;  
    }


}

.circle{
    position: absolute;
     transform: translateX(0%);
    background-color: rgb(0, 0, 0);
    transition:1s ease-in-out;
    
}


.circlex{
    position: absolute;
    transform: translateX(200%);
    background-color: rgb(255, 255, 255);
    transition:1s ease-in-out;  
}

.animate{
    transition:1s ease-in-out;
}

.box{
    width: 300;
    height: 300; 
    background: '#ff80ed';
}

.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initial background color (transparent) */
    transition: background-color 0.3s ease; /* Transition effect on hover */
  }
  
  .tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  .image-container:hover::before,
  .hovered::before {
    background-color: rgba(0, 0, 0, 0.5); /* Dark background color on hover or click */
  }
  
  .hovered .tooltip {
    display: block;
  }
  
